<html>
  <head>
    <<title>Nergo's Blog</title>
  </head>
  <body>
    <div> <h1><a href="/">Nergo's blog</a></h1>
    </div>

    <div>
      <p>26.10.2019, 15:50</p>
      <h2><a href="">İlk Blogum</a></h2>
      <p>Çok heyecanlıyım! Bu benim ilk blogum.</p>
    </div>

    <div>
      <p>26.10.2019, 15:51</p>
      <h3><a href="">İkinci Gönderim</a></h3>
      <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
    </div>

  </body>
<html>
